<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HH</title>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<div class="container" style="min-width: 1000px">
    <div th:include="layout :: header(cv)"></div>
    <h3 th:text="${cv.title}">Менеджер</h3>
    <h5><a th:href="'/user/' + ${cv.owner.id}" th:text="${cv.owner.name}">Иван Иванович</a></h5>

        <div class="jumbotron" style="padding: 10px 30px 20px">
            <div class="row">
                <div class="col-xs-3"><h4>Образование</h4><h5  th:text="${cv.education}">среднее</h5></div>
                <div class="col-xs-2"><h4>Опыт</h4><h5 th:text="${cv.experience}">2 года</h5></div>
                <div class="col-xs-2"><h4>Город</h4><h5 th:text="${cv.owner.city}">Казань</h5></div>
                <div class="col-xs-3"><h4>Email</h4><h5 th:text="${cv.owner.email}">mail@gmail.com</h5></div>
                <div class="col-xs-2"><h4>Телефон</h4><h5 th:text="${cv.owner.phone}">123456</h5></div>
            </div>
        </div>

    <p th:text="${cv.text}"></p>
    <a class="btn btn-primary btn-lg" role="button">Отправить приглашение</a>
    <a class="btn btn-primary btn-lg" th:href="${'/cv/edit/'+cv.id}">Редактировать</a>



</div>
</body>
</html>