<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HH</title>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/resources/css/signin.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h2>HH</h2>
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/">Главная</a></li>
        <li><a href="/cv/1">Станица просмотра резюме</a></li>
        <li><a href="/vacancy/1">Станица просмотра вакансии</a></li>
        <li><a href="/user/1">Профиль пользователя</a></li>
        <li><a href="/company/1">Профиль компании</a></li>
        <li><a href="/cv/list">Поиск по резюме</a></li>
        <li><a href="/vacancy/list">Поиск по вакансиям</a></li>
        <li><a href="/cv/edit/1">Редактирование резюме</a></li>
        <li><a href="/cv/create">Добавление резюме</a></li>
    </ul>
</div>
</body>
</html>